* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 0, 76);
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(255, 0, 76);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}